<!--catalog component-->
<div>
  <div class="bar bar-standard bar-header-secondary">
    <h2>Complete Catalog</h2>
    <search (update)="filter($event)"></search> 
  </div>
  <ul class="content-padded table-view">
    <li class="table-view-cell"><span>DMC Code</span> | <span>Name</span> | <span>Tile</span></li>
    <li class="table-view-divider">&nbsp;</li>
    <li class="table-view-divider">&nbsp;</li>
    <li class="table-view-divider">&nbsp;</li>
    <li *ngFor="let f of currentView" class="table-view-cell">
      <span id="dmc" class="pull-left">{{f.dmc}}</span> | 
      <span>{{f.name}}</span>
      <div class="pull-right">
          <span id="tile" [style.background-color]="'#' + f.rgb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <button class="btn btn-positive" (click)="addFloss(f, $event)" [class.btn-outlined]="isFlossIn(f, 'my')"><span class="icon icon-check"></span></button>
          <button class="btn btn-primary" (click)="wantFloss(f, $event)" [class.btn-outlined]="isFlossIn(f, 'want')"><span class="icon icon-star"></span></button>
      </div>
      
    </li>
  </ul>

</div>

