[catalog component html]

<h2>Full Catalog Flosses</h2>

<search (update)="filter($event)"></search> 
<table>
  <thead>
    <tr>
      <th width="200">DMC Code</th>
      <th>Name</th>
      <th width="150">Tile</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of currentView">
      <td>{{f.dmc}}</td>
      <td>{{f.name}}</td>
      <td><span [style.background-color]="'#' + f.rgb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
      <td>
        <button class="btn btn-positive btn-outlined" (click)="addFloss(f, $event)">Add <span class="icon icon-check"></span></button>
        <button class="btn btn-primary btn-outlined" (click)="wantFloss(f, $event)">Want <span class="icon icon-star"></span></button>
      </td>  
    </tr>
  </tbody>
</table>
