[Wanted component html]

<h2>Wanted Flosses</h2>

<table>
  <thead>
    <tr>
      <th width="200">DMC Code</th>
      <th>Name</th>
      <th width="150">Tile</th>
      <th width="150"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let f of catalog">
      <td>{{f.dmc}}</td>
      <td>{{f.name}}</td>
      <td><span [style.background-color]="'#' + f.rgb">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></td>
      <td><button class="btn btn-negative btn-outlined" (click)="deleteFloss(f, 'want', $event)">Delete <span class="icon icon-trash"></span></button></td>
    </tr>
  </tbody>
</table>